<div align="center">
  <h2>Login Form</h2>
</div>

<form action="/" method="post">


  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input id="uname" [(ngModel)]="model.username" type="text" placeholder="Enter Username" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input id="psw" [(ngModel)]="model.password" type="password" placeholder="Enter Password" name="psw" required>

    <button (click)="getauth()" type="submit">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>


</form>
